.ql-toolbar{
    color: white;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
  }

  .alert {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
  }
  
  .alert-success {
    background: #d4edda;
    color: #155724;
  }
  
  .alert-error {
    background: #f8d7da;
    color: #721c24;
  }